:root {
    /* basic colors */
    --keyer-bg-color: #000; /* change for a chroma key if you want, beware profile avatars may key out */
    --comment-color: #fff;
    --comment-bg-color: #222; /* needs to be slightly above black to not get keyed out */
    --comment-border-radius: 0px;
    --comment-font-size: 40px;
    --author-color: #222;
    --author-bg-color: #ffa500;
    --author-avatar-border-color: #ffa500;
    --author-border-radius: 0px;
    --author-avatar-border-size: 3px;
    --author-avatar-size: 128px;
    --author-font-size: 30px;
    /* donation/superchat specific */
    --donation-color: #5a4211;
    --donation-bg-color: #fff;
    --donation-gradient-stop0: #BF953F;
    --donation-gradient-stop1: #ede599;
    --donation-gradient-stop2: #B38728;
    --donation-label-color: #fff;
    --donation-label-text: 'SUPERCHAT';
    --donation-shadow-color: #fff;

    --shown-comment-bg-color: #555555;
    --highlighted-comment-bg-color: #f0f07d;

    /*
    LAYOUT
    */
    --comment-width: auto; /* go 100% for a full screen lower third style*/
    --comment-padding: 20px 40px 20px 70px;
    --comment-area-height: 30vh;
    --comment-scale: 1;
    --comment-area-size-offset: 0;
    --comment-area-bottom: 10px;
    /*
    STYLE
    */
    --font-family: Avenir Next, Helvetica, Geneva, Verdana, Arial, sans-serif;
    --highlight-chat-font-weight: 600;
    --author-font-weight: 700;
    --comment-font-weight: 600;
}

.highlighted-comment {
    background-color: var(--highlighted-comment-bg-color) !important;
}
html[dark] .highlighted-comment #message.yt-live-chat-text-message-renderer {
    color: black;
}
html[dark] .highlighted-comment:hover #message.yt-live-chat-text-message-renderer {
    color: white;
}
html[dark] .highlighted-comment #author-name.yt-live-chat-author-chip {
    color: #444;
}
html[dark] .highlighted-comment:hover #author-name.yt-live-chat-author-chip {
    color: #DDD;
}
yt-live-chat-text-message-renderer:hover {
    background-color: #eee !important;
}
html[dark] yt-live-chat-text-message-renderer:hover {
    background-color: #444 !important;
}
yt-live-chat-text-message-renderer.shown-comment {
    background-color: var(--shown-comment-bg-color) !important;
    opacity: 0.4;
}
.shown-comment:hover {
    opacity: 0.5;
}

yt-live-chat-item-list-renderer {
	margin-bottom: 20px;
}

yt-live-chat-text-message-renderer {
    font-size: 24px !important;
    line-height: 32px;
}


yt-live-chat-text-message-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-membership-item-renderer {
    cursor: pointer;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-paid-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted] {
    cursor: default;
}




yt-live-chat-viewer-engagement-message-renderer {
  display: none !important;
}



.button {
  text-decoration: none;
  padding: 6px;
  border: 1px #bbb solid;
  border-radius: 4px;
  color: #fff;
  background: #444;
}
#pop-out-button {
  margin-left: 20px;
}
#pop-out-url {
  margin-left: 20px;
  font-size: 1.2em;
  width: 400px;
  border-radius: 4px;
}

.hidden {
  display: none;
}
